@model Library_Management_System.Models.UserViewModel
@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="container">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-12 pt-3">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">User Form</h4>
                    </div>
                    <div class="card-body">
                        <div class="basic-form">
                            <form asp-action="User" asp-controller="Admin" method="post" autocomplete="off">
                                <input type="hidden" asp-for="Users.Id" />
                                <div class="row">
                                    <div class="mb-3 col-md-6">
                                        <label class="form-label">First Name</label>
                                        <input asp-for="Users.FirstName" class="form-control" placeholder="Enter First Name">
                                    </div>
                                    <div class="mb-3 col-md-6">
                                        <label class="form-label">Last Name</label>
                                        <input asp-for="Users.LastName" class="form-control" placeholder="Enter Last Name" />
                                    </div>
                                    <div class="mb-3 col-md-6">
                                        <label class="form-label">EmailID</label>
                                        <input asp-for="Users.Email" type="email" class="form-control" placeholder="Email" autocomplete="off">
                                    </div>
                                    <div class="mb-3 col-md-6">
                                        <label class="form-label">Password</label>
                                        <input asp-for="Users.Password" type="password" class="form-control" placeholder="Password" autocomplete="new-password">
                                    </div>
                                    <div class="mb-3 col-md-6">
                                        <label class="form-label">Gender</label><br />
                                        <input type="radio" asp-for="Users.Gender" value="Male" /> Male<br />
                                        <input type="radio" asp-for="Users.Gender" value="Female" /> Female
                                    </div>
                                    <div class="mb-3 col-md-6">
                                        <label class="form-label">Contact No.</label>
                                        <input asp-for="Users.ContactNo" class="form-control" />
                                    </div>
                                    <div class="col-sm-6">
                                        <label>Country</label>
                                        <select asp-for="Users.Country_Id" asp-items="Model.CountryList" id="Country_Id" class="form-control">
                                            <option>--Select Country--</option>
                                        </select>
                                    </div>
                                    <div class="mb-3 col-md-6">
                                        <label>State</label>
                                        <select asp-for="Users.State_Id" asp-items="Model.StateList" id="State" class="form-control">
                                            <option>--Select State--</option>
                                        </select>
                                    </div>
                                    <div class="mb-3 col-md-6">
                                        <label>City</label>
                                        <select asp-for="Users.City_Id" asp-items="Model.CityList" id="City_Id" class="form-control">
                                            <option>--Select City--</option>
                                        </select>
                                    </div>
                                    <div class="mb-3 col-md-6">
                                        <label>Role</label>
                                        <select asp-for="Users.RoleId" asp-items="Model.RoleList" id="Role" class="form-control">
                                            <option>--Select Role--</option>
                                        </select>
                                    </div>
                                </div>
                                @if (Model.Users == null || Model.Users.Id == 0)
                                {
                                    <input type="submit" class="btn btn-primary pull-right" value="Submit" />
                                }
                                else
                                {
                                    <input type="submit" class="btn btn-primary pull-right" value="Update" />
                                }
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-12">
            <div class="card dz-card" id="accordion-three">
                <div class="card-header flex-wrap justify-content-between">
                    <div>
                        <h4 class="card-title">List Of Users</h4>
                        <div class="tab-content" id="myTabContent-2">
                            <div class="tab-pane fade show active" id="withoutSpace" role="tabpanel" aria-labelledby="home-tab-2">
                                <div class="card-body pt-0">
                                    <div class="table-responsive">
                                        <table id="tblTable" class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>@Html.DisplayNameFor(model => model.Users.FirstName)</th>
                <th>@Html.DisplayNameFor(model => model.Users.LastName)</th>
                <th>@Html.DisplayNameFor(model => model.Users.Email)</th>
                <th>@Html.DisplayNameFor(model => model.Users.Gender)</th>
                <th>@Html.DisplayNameFor(model => model.Users.ContactNo)</th>
                <th>@Html.DisplayNameFor(model => model.Users.CreatedDate)</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.UserList)
            {
                <tr>
                    <td>@item.FirstName</td>
                    <td>@item.LastName</td>
                    <td>@item.Email</td>
                    <td>@item.Gender</td>
                    <td>@item.ContactNo</td>
                    <td>@item.CreatedDate</td>
                    <td>
                        <a href="/Admin/EditUser?Id=@item.Id.ToString()" class="btn btn-small btn-success"><i class="fas fa-pencil-alt" aria-hidden="true"></i></a>
                        <a href="/Admin/DeleteUser?Id=@item.Id.ToString()" class="btn btn-small btn-danger" onclick="return confirm('Are you sure you want to delete this user ?')"><i class="fas fa-trash" aria-hidden="true"></i></a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>



<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function () {
        $("#Country_Id").change(function () {
            var countryId = $(this).val();
            if (countryId) {
                $.ajax({
                    url: '/Home/GetStates',
                    type: 'POST',
                    data: { Country_Id: countryId },
                    success: function (data) {
                        $("#State").empty();
                        $("#State").append('<option value="">--Select State--</option>');
                        $.each(data, function (index, state) {
                            $("#State").append('<option value="' + state.state_Id + '">' + state.stateName + '</option>');
                        });
                    }
                });
            } else {
                $("#State").empty().append('<option value="">--Select State--</option>');
            }
        });
        //City details bind
        $("#State").change(function () {
            var stateId = $(this).val();
            if (stateId) {
                $.ajax({
                    url: '/Home/GetCities',
                    type: "POST",
                    dataType: "json",
                    contentTYPE: "application/json;charset=utf-8;",
                    data: { stateId: stateId },
                    success: function (data) {
                        $("#City_Id").empty();
                        $("#City_Id").append($('<option></option>').val('').text('--Select City--'));
                        $.each(data, function (i, item) {
                            $("#City_Id").append($('<option value="' + item.city_Id + '">' + item.cityName + '</option>'));
                        });
                    }
                });
            } else {
                $("#City_Id").empty();
            }

        });
    });
</script>


